@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
}

button {
  text-transform: capitalize;
}
