.player-pokemon {
    image-rendering: pixelated;
    width: 280px;
}

.action-button {
    font-size: 14px;
    color: black;
}

.player-section {
    display: flex;
    flex-direction: column;
}

.player-action {
    background-color: white;
    padding: 10px;
}
