@import "../../../../styles/helpers/all";

.attack-button-container {
    @include clean-button;
    @include action-button;
    background-image: linear-gradient(
                    0deg,
                    rgb(194, 81, 58) 5%,
                    rgb(231, 110, 85) 5%,
                    rgb(231, 110, 85) 95%,
                    rgb(255, 152, 131) 95%
    );
}

.attack-button-container:active:enabled {
    background-image: linear-gradient(
                    0deg,
                    rgb(237, 126, 106) 5%,
                    rgb(209, 91, 68) 5%,
                    rgb(209, 91, 68) 95%,
                    rgb(174, 70, 48) 95%
    );
}

.attack-button-container:disabled,
.attack-button-container[disabled]{
    opacity: 0.5;
}
