.hero-pokemon {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    image-rendering: pixelated;
    width: 250px;
}

.quick-attack-animation {
    animation-name: heroAttack;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes heroAttack {
    0%      {width: 250px;  bottom: -50px;}
    50%     {width: 170px;  left: 100%; transform: translate(-100%, 0); bottom: 50px;}
    100%    {width: 250px;  bottom: -50px;}
}

.hero-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 400px;
}
