// Hero
.hero-pokemon {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    image-rendering: pixelated;
    width: 250px;
    z-index: -1;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
}

// Hero animations
.hero-attack-animation {
    animation-name: hero-attack-keyframes;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.hero-takes-damage-animation {
    animation-name: hero-takes-damage-keyframes;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

//hero keyframes
@keyframes hero-attack-keyframes {
    50%     { width: 150px;  left: 125%; transform: translate(-100%, 0) rotate(2deg); bottom: 110px; }
}

@keyframes hero-takes-damage-keyframes {
    50%     { right: 70%; transform: translate(-70%, 0) }
}
