.hero-action-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 650px;
    height: 180px;
    padding: 20px 10px;
    border: solid 2px #664027;
    background: linear-gradient(
        0deg,
        rgba(212, 199, 190, 1) 5%,
        rgba(248, 248, 216, 1) 5%,
        rgba(248, 248, 216, 1) 95%,
        rgba(255, 255, 223, 1) 95%
    );
}

.hero-action-container {
    display: flex;
    gap: 10px;
}

.hero-name {
    text-transform: capitalize;
    font-size: 1rem;
    margin-bottom: 5px;
}

.opponents-turn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(248, 70, 70);
}
