.opponent-pokemon {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    image-rendering: pixelated;
    width: 150px;
}

.damage-taken-animation {
    animation-name: opponentTakingDamage;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

@keyframes opponentTakingDamage{
    75%     { bottom: 10px; }
}

.opponent-pokemon-container {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
