.opponent-pokemon {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    image-rendering: pixelated;
    width: 150px;
    background-color: blue;
    animation-name: opponentTakingDamage;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes opponentTakingDamage{
    50%     {opacity: 0; bottom: 10px;  }
}

.opponent-pokemon-container {
    background-color: green;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
