.opponent-healthbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.opponent-healthbar-hp {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  border: solid 2px #262626;
  background-color: #424242;
}
