.arena-wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: red;
}

.arena-scene {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-rows: 35% 75%;
    width: 100%;
    height: 100%;
}

.skye {
    background: linear-gradient(0deg, rgba(117,226,228,1) 25%, rgba(130,229,231,1) 25%, rgba(146,244,246,1) 60%, rgba(159,247,249,1) 60%);
}

.ground {
    background: linear-gradient(-180deg, rgba(161,217,125,1) 25%, rgba(178,227,146,1) 25%, rgba(178,227,146,1) 60%, rgba(187,230,159,1) 60%);;
}
