.player-healthbar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.player-healthbar-hp {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  border: solid 2px #262626;
  background-color: #424242;
}
